<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CompuTrack_Server.Properties.Settings.DB_98559_compConnectionString"
            connectionString="Data Source=s13.winhost.com;Initial Catalog=DB_98559_comp;Persist Security Info=True;User ID=DB_98559_comp_user;Password=tmpPWD"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>